{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4">About City Hospital</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>City Hospital is dedicated to providing high-quality medical care to the community...</p>
        </div>
        <div class="col-md-6">
            <h2>Our Services</h2>
            <ul>
                <li>Emergency Care</li>
                <li>Specialized Departments</li>
                <li>Diagnostic Imaging</li>
                <!-- Add more services here -->
            </ul>
        </div>
    </div>

    
</div>
{% endblock %}

