{% extends 'base.html' %}

{% block title%}
Contact
{% endblock %}

{% block content%}
<h1 >CONTACT US</h1>
<hr>
<div class="row" style="color:  hsla(0, 100%, 50%, 0.932);">
    <div class="col-md-12" bg-danger>
        <body background="https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg" >
        <b>
        <p>If you have any questions, feel free to contact us:</p>
        <address>
            Address: 123 Main Street, Cityville<br>
            Phone: (123) 456-7890<br>
            Email: info@cityhospital.com
        </b>
            </address>
        </address>
    </div>
</div>


</body>
{% endblock %}
